<!-- HEADER -->
@using Common.Models
<header id="header">
    <div id="logo-group">
        <span id="logo"> <img src="@Url.Content("~/cdn/CompanyLogo")" alt="@Settings.Company"> </span>
    </div>

    <div class="project-context hidden-xs">
        <span class="label txt-color-blueDark">@Settings.AppName</span>
        <span class="project-selector dropdown-toggle" data-toggle="dropdown">@ViewBag.Company <i class="fa fa-angle-down"></i></span>
        <ul class="dropdown-menu">
            @if (ViewBag.Companies != null)
            {
                foreach (var company in (List<ComboList>)ViewBag.Companies)
                {
                    <li>
                        @*<a href="javascript:void(ChangeCompany('@company.value', '@company.text'));">@company.text</a>*@
                        <a ng-click="ChangeCompany('@company.value', '@company.text');">@company.text</a>
                    </li>
                }
            }
        </ul>
    </div>
    


    <section id="top-right">
        @if (@Model is HelperResult)
        {
            @Model
        }
        else
        {
            <div class="pull-right">
                @Html.Partial("_TopRight")
            </div>
        }
    </section>
</header>
<!-- END HEADER -->