<!DOCTYPE html>
<html lang="en-us" id="@ViewBag.PageId" class="@Settings.CurrentTheme" >
<head>

    <meta charset=" utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@Settings.AppName</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    @Styles.Render("assets/styles/kendo.common-material.min.css")
    @Styles.Render("assets/styles/kendo.material.min.css")
    @Styles.Render("assets/css/release.min.css")
    @Styles.Render("api/files/templates/GLOBALFN/css")
    @Styles.Render("assets/css/codemirror.css")
    @Styles.Render("assets/css/overrides.min.css")
    @Styles.Render("assets/fonts/font-awesome/css/font-awesome.min.css")
    @Styles.Render("assets/handsontable/dist/handsontable.full.min.css")
    @Styles.Render("assets/css/hierarchy-select.min.css")
    @Styles.Render("assets/css/angular-json-explorer.min.css")
    

    <style type="text/css">
        html {
            background: url('cdn/system/content/img/mybg.png') #ffffff !important;
        }

        body {
            background: url('cdn/system/content/img/mybg.png') #ffffff !important;
        }

        div.mce-edit-area {
            padding: 10px !important;
        }

        #logo img {
            width: 230px !important;
            height: 48px !important;
            padding-top: 5px !important;
        }
    </style>

    <script type="text/javascript">
        window.IsDeveloper = 0;
    </script>

    <link rel="shortcut icon" href="@Url.Content("~/cdn/FAVICON")" type="image/x-icon">
    <link rel="icon" href="@Url.Content("~/cdn/FAVICON")" type="image/x-icon">

</head>
<body data-smart-device-detect
      data-smart-fast-click
      data-smart-layout
      data-smart-page-title="APP"
      class="desktop-detected fixed-header fixed-navigation fixed-page-footer fixed-ribbon" data-ng-controller="bodyController">

    @{ Html.RenderPartial("_Header", RenderSection("topright", false)); }
    @{ Html.RenderPartialIf("_Aside", Request.IsAuthenticated); }

    <div id="main" role="main">
        @{ Html.RenderPartialIf("_Ribbon", Request.IsAuthenticated); }
        <div id="content" ng-view ng-show="!isDocShow">@RenderBody()</div>
        <div id="help-content"  ng-show="isDocShow" style="padding:10px;padding-top:45px;"  class="scroll"></div>
    </div>

    @if (Request.IsAuthenticated)
    {
        if (ViewBag.IsApp == true)
        {
            Html.RenderPartial("_Footer");
        } 

        Html.RenderPartialIf("_Tiles", Settings.EnableTiles);
    }

    @{ Html.RenderPartial("_ScriptsAMD", RenderSection("pagespecific", false)); }

</body>
</html>