<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>Report</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <base href="@Settings.Home">

    <link href="assets/css/kendo.common.min.css" rel="stylesheet" />
    <link href="assets/css/kendo.blueopal.min.css" rel="stylesheet" />
    <link href="assets/css/telerikReportViewer.css" rel="stylesheet" />

    <script src="assets/js/jquery-1.9.1.min.js"></script>
    <script src="assets/js/telerikReportViewer.kendo-12.2.18.912.min.js"></script>
    <script src="assets/js/themeSwitcher.js"></script>
    <script src="assets/js/telerikReportViewer-12.2.18.912.js"></script>

    <style>
        #reportViewer1 {
            position: absolute;
            left: 5px;
            right: 5px;
            top: 5px;
            bottom: 5px;
            overflow: hidden;
            font-family: Verdana, Arial;
        }
    </style>

    <link rel="shortcut icon" href="@Url.Content("~/cdn/FAVICON")" type="image/x-icon">
    <link rel="icon" href="@Url.Content("~/cdn/FAVICON")" type="image/x-icon">

</head>
<body>

    <div id="reportViewer1">
        loading...
    </div>

    <script type="text/javascript">
        function onRenderingBegin() {
            console.log("rendering begin!");
        }
        function onRenderingEnd() {
            console.log("rendering end!");
        }
        function onPrintBegin() {
            console.log("print begin!");
        }
        function onPrintEnd() {
            console.log("print end!");
        }
        function onExportBegin() {
            console.log("export begin!");
        }
        function onExportEnd() {
            console.log("export end!");
        }
        function onUpdateUi() {
            console.log("update ui!");
        }
        function onError() {
            console.log("error!");
        }
        function onPageReady() {
            console.log("page ready!");
        }

        function createSingleSelectEditor(placeholder, options) {
            var dropDownElement = $(placeholder).html('<div></div>');
            var parameter,
                  valueChangedCallback = options.parameterChanged,
                  dropDownList;

            function onChange() {
                var val = dropDownList.value();
                valueChangedCallback(parameter, val);
            }

            return {
                beginEdit: function (param) {

                    parameter = param;

                    $(dropDownElement).kendoDropDownList({
                        dataTextField: "name",
                        dataValueField: "value",
                        value: parameter.value,
                        dataSource: parameter.availableValues,
                        change: onChange
                    });

                    dropDownList = $(dropDownElement).data("kendoDropDownList");
                }
            };
        }

        function customMatch(parameter) {
            return Boolean(parameter.availableValues)
                && !parameter.multivalue
                && parameter.type === telerikReportViewer.ParameterTypes.BOOLEAN;
        }

        function createCustomEditor(placeholder, options) {
            var dropDownElement = $(placeholder).html('<div></div>');
            var parameter,
                  valueChangedCallback = options.parameterChanged,
                  dropDownList;

            function onChange() {
                var val = dropDownList.value();
                valueChangedCallback(parameter, val);
            }

            return {
                beginEdit: function (param) {

                    parameter = param;

                    $(dropDownElement).kendoDropDownList({
                        dataTextField: "name",
                        dataValueField: "value",
                        value: parameter.value,
                        dataSource: parameter.availableValues,
                        change: onChange
                    });

                    dropDownList = $(dropDownElement).data("kendoDropDownList");
                }
            };
        }

        $(document).ready(function () {


            var params = @Html.Raw(ViewBag.Parameters);

            $("#reportViewer1")
                .telerik_ReportViewer({
                    // The URL of the service which will serve reports.
                    // The URL corresponds to the name of the controller class (ReportsController).
                    // For more information on how to configure the service please check http://www.telerik.com/help/reporting/telerik-reporting-rest-conception.html.
                    serviceUrl: "../idsrvadm/api/reports/",

                    // The URL for the report viewer template. The template can be edited -
                    // new functionalities can be added and unneeded ones can be removed.
                    // For more information please check http://www.telerik.com/help/reporting/html5-report-viewer-templates.html.
                    

                    //ReportSource - report description
                    reportSource: {

                        // Parameters name value dictionary
                        parameters: params,

                        // The report can be set to a report file name (trdx report definition)
                        // or CLR type name (report class definition).
                        report: "@ViewBag.reportid"



                    },

                    // Specifies whether the viewer is in interactive or print preview mode.
                    // PRINT_PREVIEW - Displays the paginated report as if it is printed on paper. Interactivity is not enabled.
                    // INTERACTIVE - Displays the report in its original width and height without paging. Additionally interactivity is enabled.
                    viewMode: telerikReportViewer.ViewModes.INTERACTIVE,

                    // Sets the scale mode of the viewer.
                    // Three modes exist currently:
                    // FIT_PAGE - The whole report will fit on the page (will zoom in or out), regardless of its width and height.
                    // FIT_PAGE_WIDTH - The report will be zoomed in or out so that the width of the screen and the width of the report match.
                    // SPECIFIC - Uses the scale to zoom in and out the report.
                    scaleMode: telerikReportViewer.ScaleModes.SPECIFIC,

                    // Zoom in and out the report using the scale
                    // 1.0 is equal to 100%, i.e. the original size of the report
                    scale: 1.0,

                    ready: function () {
                        //this.refreshReport();
                    },

                    //renderingBegin: onRenderingBegin,
                    //renderingEnd: onRenderingEnd,
                    //printBegin: onPrintBegin,
                    //printEnd: onPrintEnd,
                    //exportBegin: onExportBegin,
                    //exportEnd: onExportEnd,
                    //updateUi: onUpdateUi,
                    //pageReady: onPageReady,
                    //error: onError,

                    // Uncomment the code below to see the custom parameter editors in action
                    //parameterEditors: [
                    //{
                    //    "match": customMatch,
                    //    "createEditor": createCustomEditor
                    //},
                    //{
                    //    "match": telerikReportViewer.parameterEditorsMatch.SingleSelect,
                    //    "createEditor": createSingleSelectEditor
                    //}]
                });
        });
    </script>

</body>
</html>